{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <title>TreasureGram</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top text-center">
        <a href="/"><img src="{% static 'images/logo.png' %}" alt=""TreasureGram"></a>
    </nav>
    
  {% for treasure in treasures %}
      <p>{{ treasure.name }} </p>
      {%  if treasure.value > 0 %}
        <p> {{ treasure.value }}</p>
      {%  else %}
        <p>Unknown</p>
      {% endif %}
  {%  endfor %}
</body>
</html>